# Phase 1 Project: Ebay Perfume Analysis
## Authored by Trinity Gahagen

In this analysis, we will be exploring and analyzing different perfumes sold on ebay.

In [255]:
# Import necessary modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [256]:
mens_perfume = pd.read_csv('ebay_mens_perfume.csv')
womens_perfume = pd.read_csv('ebay_womens_perfume.csv')

In [257]:
mens_perfume.head()

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Dior,Christian Dior Sauvage Men's EDP 3.4 oz Fragra...,Eau de Parfum,84.99,US $84.99/ea,10.0,More than 10 available / 116 sold,116.0,"May 24, 2024 10:03:04 PDT","Allen Park, Michigan, United States"
1,AS SHOW,A-v-entus Eau de Parfum 3.3 oz 100ML Millesime...,Eau de Parfum,109.99,US $109.99,8.0,8 available / 48 sold,48.0,"May 23, 2024 23:07:49 PDT","Atlanta, Georgia, Canada"
2,Unbranded,HOGO BOSS cologne For Men 3.4 oz,Eau de Toilette,100.00,US $100.00,10.0,More than 10 available / 27 sold,27.0,"May 22, 2024 21:55:43 PDT","Dearborn, Michigan, United States"
3,Giorgio Armani,Acqua Di Gio by Giorgio Armani 6.7 Fl oz Eau D...,Eau de Toilette,44.99,US $44.99/ea,2.0,2 available / 159 sold,159.0,"May 24, 2024 03:30:43 PDT","Reinholds, Pennsylvania, United States"
4,Lattafa,Lattafa Men's Hayaati Al Maleky EDP Spray 3.4 ...,Fragrances,16.91,US $16.91,NaN,Limited quantity available / 156 sold,156.0,"May 24, 2024 07:56:25 PDT","Brooklyn, New York, United States"

In [258]:
womens_perfume.head()

,brand,title,type,price,priceWithCurrency,available,availableText,sold,lastUpdated,itemLocation
0,Carolina Herrera,Good Girl by Carolina Herrera 2.7 oz Eau De Pa...,Eau de Parfum,43.99,US $43.99/ea,2.0,2 available / 393 sold,393.0,"May 23, 2024 10:43:50 PDT","Thomasville, Alabama, United States"
1,As Shown,Parfums de Marly Delina La Rosee Eau de Parfum...,Eau de Parfum,79.99,US $79.99,5.0,5 available / 40 sold,40.0,"May 24, 2024 00:15:48 PDT","New Jersey, Hong Kong"
2,PRADA,PRADA Paradoxe by Prada EDP 3.0oz/90ml Spray P...,Eau de Parfum,59.99,US $59.99,10.0,More than 10 available / 35 sold,35.0,"May 14, 2024 20:54:25 PDT","Orange, New Jersey, United States"
3,As Show,J'adore Parfum D'eau by Christian 3.4 oz EDP F...,Eau de Parfum,59.99,US $59.99/ea,10.0,More than 10 available / 9 sold,9.0,"May 23, 2024 01:23:05 PDT","USA, New Jersey, Hong Kong"
4,Khadlaj,Shiyaaka for Men EDP Spray 100ML (3.4 FL.OZ) B...,Eau de Parfum,29.99,US $29.99/ea,10.0,More than 10 available,NaN,NaN,"Little Ferry, New Jersey, United States"

In [259]:
mens_perfume['forMen'] = 1
womens_perfume['forWomen'] = 1
womens_perfume[['unisex','forMen']] = 0
mens_perfume[['unisex', 'forWomen']] = 0

print(mens_perfume.columns)
print(womens_perfume.columns)

Index(['brand', 'title', 'type', 'price', 'priceWithCurrency', 'available',
       'availableText', 'sold', 'lastUpdated', 'itemLocation', 'forMen',
       'unisex', 'forWomen'],
      dtype='object')
Index(['brand', 'title', 'type', 'price', 'priceWithCurrency', 'available',
       'availableText', 'sold', 'lastUpdated', 'itemLocation', 'forWomen',
       'unisex', 'forMen'],
      dtype='object')

In [260]:
perfumes = pd.concat([mens_perfume, womens_perfume], ignore_index=True)

In [261]:
perfumes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              1998 non-null   object
 1   title              2000 non-null   object
 2   type               1995 non-null   object
 3   price              2000 non-null   float64
 4   priceWithCurrency  2000 non-null   object
 5   available          1758 non-null   float64
 6   availableText      1989 non-null   object
 7   sold               1978 non-null   float64
 8   lastUpdated        1874 non-null   object
 9   itemLocation       2000 non-null   object
 10  forMen             2000 non-null   int64
 11  unisex             2000 non-null   int64
 12  forWomen           2000 non-null   int64
dtypes: float64(3), int64(3), object(7)
memory usage: 203.2+ KB

In [262]:
perfumes.dropna(subset=['brand', 'type'], inplace=True)

In [263]:
UNISEX_MASK = perfumes['title'].str.lower().str.contains('unisex')
WOMEN_MASK = perfumes['title'].str.lower().str.contains('for women')
MEN_MASK = perfumes['title'].str.lower().str.contains('for men')

perfumes['unisex'] = np.where(UNISEX_MASK, 1, perfumes['unisex'])
perfumes['forWomen'] = np.where(WOMEN_MASK, 1, perfumes['forWomen'])
perfumes['forMen'] = np.where(MEN_MASK, 1, perfumes['forMen'])

for col in ['forWomen', 'forMen']:
    perfumes[col] = np.where(perfumes['unisex'] == 1, 0, perfumes[col])

In [264]:
perfumes['type'].unique()

array(['Eau de Parfum', 'Eau de Toilette', 'Fragrances', 'Perfume', '/',
       'PARFUM', 'Parfum', 'Concentrated Uncut Pure Body Oil',
       'LE PARFUM', 'Eau De Parfum', 'Unscented', 'Eau de Cologne',
       '~ THE ONE EAU DE PARFUM SPRAY ~', 'EXTRAIT DE PARFUM',
       'Eau De Toilette', 'Eau De Parfum Intense', 'Pheromone',
       'Aftershave', 'Fragrance & Perfume', 'Eau de Perfume',
       'Jo Malone Cologne Intense Spray', 'Y', 'Gift Sets',
       'Fragrance Rolling Ball', 'Body Spray', 'Eau de toilette',
       'Eau de Toillette',
       'Eau De Toilette, Eau De Parfum, Eau De Parfum Intense', 'Cologne',
       'le parfum', 'Eau de Toilette Intense',
       'Eau de Cologne Spray, Cologne Spray', 'Extrait De Parfum',
       'Fine Cologne', 'Does not apply', 'EDT', 'Extrait de Parfum',
       'Editions Parfums', 'DIOR HOMME COLOGNE', 'Deodorant', 'De Nuit',
       'Eau de Toilette, Cologne Spray', 'Parfum Intense',
       'Eau de Parfum Intense', 'cologne', 'EAU DE COLOGNE SPRAY',
       'Roll On', 'Elixir de Parfum', 'Elixir', 'Various', 'Assorted',
       'Fragrance Oil', 'Eau de Parfum/ Eau de Toilette',
       'Deodorant Body Spray', 'Oil', 'Splash-on', 'edt', 'EDC',
       'Car Air Freshener', 'Eau De Cologne', 'Fragrance Body Spray',
       'Body Oil', 'Cologne spray', 'Spray',
       '~ BODY FIRM ADVANCED BODY REPAIR TREATMENT ~', 'Fragrance Mist',
       'Deodorant Stick', '3 Pc', 'Eau de Parfum, Eau De Parfume', 'Mist',
       'Eau de Toilette, Spray', 'Perfume, Eau de Parfum', 'Hair Perfume',
       'Eau de Parfum, Spray', 'Cream', 'Eau De Parfum 2 Pcs Set',
       "L'Eau de Parfum", 'Eau de Parfume', "L'eau de Parfum",
       'SKIN_MOISTURIZER', 'EDP and Parfum', 'Fine Fragrance Mist',
       'Lotion', 'Scented Oils', 'Shimmer', 'EDP',
       'Perfume Fragrance Mist', 'Perfume Oil',
       'Parfum, Lotion, Gloss and Blush', 'Bath Oil', 'Elixir De Parfum',
       'Body Mist', 'ASST', 'BEAUTY', 'Extract Parfum', 'Does Not Apply',
       'Shimmering Body Oil', 'Body Powder', 'Eau De Parfum Supreme',
       'Perfume Gift Sets', 'Toilette Spray',
       'Eau De Parfum Spray (Unisex Tester) 3.4 oz', 'Body Lotion',
       'deodorant', 'Esprit de Parfum', 'Discovery Set',
       'SOLID PERFUME STICK', 'Eau De Toilette Spray 3.4 oz',
       'Eau De Parfum 3 Pcs Set', 'Sensuous Body Moisturizer',
       'Cologne Spray', 'Pink Sugar', 'Oil Perfume',
       'FRAGRANCE BODY MIST', 'Eau de Parfum/Perfume', '1'], dtype=object)

In [265]:
eau_de_toilette = "(:?eau){1} de toi.*|edt"
eau_de_parfum = "(:?eau){1} de parfum|edp"
mist = "mist"
cologne = "cologne|edc"
parfum = "(:?eau){0}parfum{1}"
oil = "(?<=t)oil"
fragrance = "fragrance"
roll_on = "roll"
lotion = "lotion|moisturizer|cream"
deodorant = "deodorant"
sets = "set|pc"
perfume = "perfume|eau de perfume"

type_masks = [eau_de_toilette, eau_de_parfum, mist, cologne, parfum, oil, fragrance, roll_on, lotion, deodorant, sets, perfume]

type_categories = [
    "Eau De Toilette",
    "Eau De Parfum",
    "Mist",
    "Cologne",
    "Parfum",
    "Oil",
    "Fragrance",
    "Roll On",
    "Lotion",
    "Deodorant",
    "Sets",
    "Perfume"
]

type_conditions = [(perfumes['type'].str.lower().str.contains(condition, na=False)) for condition in type_masks]

c:\Users\twitt\anaconda3\envs\learn-env\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [266]:
perfumes['type_clean'] = np.select(type_conditions, type_categories, default="Other")

In [267]:
perfumes['type_clean'].unique()

array(['Eau De Parfum', 'Eau De Toilette', 'Fragrance', 'Perfume',
       'Other', 'Parfum', 'Cologne', 'Sets', 'Deodorant', 'Roll On',
       'Mist', 'Lotion', 'Oil'], dtype=object)

In [268]:
perfumes['itemLocation'].unique()

array(['Allen Park, Michigan, United States', 'Atlanta, Georgia, Canada',
       'Dearborn, Michigan, United States',
       'Reinholds, Pennsylvania, United States',
       'Brooklyn, New York, United States',
       'Houston, Texas, United States',
       'Englewood Cliffs, New Jersey, United States',
       'Ithaca, New York, United States', 'shanghai, China',
       'Dearborn Heights, Michigan, United States',
       'Ecorse, Michigan, United States',
       'Warren, Michigan, United States',
       'San Francisco, California, United States',
       'Dayton,New Jersey, Hong Kong',
       'San Jose, California, United States',
       'Miami, Florida, United States',
       'Hamtramck, Michigan, United States',
       'Flat Lick, Kentucky, United States',
       'Elmhurst, New York, United States',
       'Hackensack, New Jersey, United States',
       'Dallas, Texas, United States',
       'Pomona, California, United States', 'Katy, Texas, United States',
       'College Point, New York, United States',
       'NEW YORK, United States', 'New York,USA, Hong Kong',
       'Brenham, Texas, United States',
       'Richmond Hill, New York, United States',
       'Dexter, Michigan, United States',
       'Phoenix, Arizona, United States',
       'Peekskill, New York, United States',
       'Edison, New Jersey, United States',
       'Armada, Michigan, United States',
       'Kalamazoo, Michigan, United States',
       'Charlotte, North Carolina, United States',
       'Dayton, New Jersey, United States',
       'Perth Amboy, New Jersey, United States',
       'LaGrange, Georgia, United States',
       'Cranston, Rhode Island, United States',
       'Las Vegas, Nevada, United States',
       'Sacramento, California, United States',
       'Dayton, New Jersey, Canada',
       'Windsor Mill, Maryland, United States',
       'Mesa, Arizona, United States',
       'West Orange, New Jersey, United States',
       'Henrico, Virginia, United States',
       'Pfafftown, North Carolina, United States', 'CA, United States',
       'USA,California, Hong Kong', 'New York, New York, Taiwan',
       'Orange, Connecticut, United States',
       'Hephzibah, Georgia, United States',
       'El Cajon, California, Hong Kong',
       'California,United States, Hong Kong, Hong Kong',
       'Fresh Meadows, New York, United States',
       'Cumming, Georgia, United States',
       'Detroit, Michigan, United States',
       'Walnut, California, Hong Kong', 'Dayton, New Jersey, Hong Kong',
       'Ottawa,California, Canada',
       'Highland Park, Michigan, United States',
       'Melissa, Texas, United States',
       'Carlsbad, California, United States',
       'Livingston Manor, New York, United States',
       'Hollywood, Florida, United States',
       'Laughlin, Nevada, United States',
       'Albany, New York, United States',
       'New York, New York, United States', 'Hong Kong, Hong Kong',
       'Austin, Texas, United States',
       'Los Angeles, California, United States',
       'Lubbock, Texas, United States',
       'Jonesboro, Georgia, United States',
       'Englewood, New Jersey, United States',
       'Philadelphia, Pennsylvania, United States',
       'Santa Cruz, California, United States',
       'Baltimore, Maryland, United States', 'HongKong, Hong Kong',
       'Webster, Florida, United States', 'Shenzhen, China',
       'Melvindale, Michigan, United States',
       'Thomasville, Alabama, United States',
       'Ontario, California, United States, Hong Kong',
       'Hialeah, Florida, United States',
       'Chesapeake, Virginia, United States',
       'Farmington, Michigan, United States',
       'Des Moines, Iowa, United States',
       'Grand Rapids, Michigan, United States',
       'Harwood Heights, Illinois, United States',
       'Macomb, Michigan, United States', 'New Jersey, United States',
       'Pearland, Texas, United States', 'California USA Taiwan, Taiwan',
       'New City, New York, United States',
       'Cincinnati, Ohio, United States',
       'Melbourne, Florida, United States',
       'Houston, Texas, HongKong, China',
       'Bethpage, New York, United States',
       'Phillipsburg, New Jersey, United States',
       'Hongkong/California, Hong Kong', 'Toronto,Ontario, Canada',
       'Southgate, Michigan, United States',
       'Bogota, New Jersey, United States',
       'Euless, Texas, United States', 'New York, Hong Kong',
       '27704, United States', 'New York,United States, Hong Kong',
       'North Brunswick, New Jersey, United States',
       'Lynwood, California, United States',
       'Woodbridge, Virginia, United States',
       'Sterling Heights, Michigan, United States',
       'California, United States, Hong Kong',
       'Stafford, Texas, United States', 'Houston, Texas,HongKong, China',
       'Falls Church, Virginia, United States',
       'Fredericksburg, Virginia, United States',
       'Oneida, Tennessee, United States',
       'Egg Harbor Township, New Jersey, United States',
       'Midway City, California, United States',
       'San Gabriel, California, United States', 'TX, United States',
       'Taiwan, Taiwan', 'Rochester, New York, United States',
       'Glendora, California, United States',
       'California or Hong Kong, Hong Kong',
       'Orlando, Florida, United States', 'Toronto, Ontario, Canada',
       'Scarborough, Ontario, Canada', 'Austell, Georgia, United States',
       'Winter Garden, Florida, United States',
       'San Diego, California, United States',
       'Hong Kong or Virginia, Hong Kong',
       'Ronkonkoma, New York, United States',
       'Buhl, Idaho, United States', 'California, Hong Kong',
       'Lake Zurich, Illinois, United States',
       'Dunedin, Florida, United States',
       'Winter Haven, Florida, United States',
       'Modesto, California, United States',
       'Seattle, Washington, United States', 'HK, Hong Kong',
       'Salem, Virginia, United States',
       'Nevada/California, USA, Hong Kong, Hong Kong',
       'Westminster, California, United States', 'Orlando, United States',
       'ShenZhen, China', 'Midway City, California, Hong Kong',
       'Graham, Washington, United States',
       'South San Francisco, California, United States',
       'Spring Hill, Florida, United States',
       'Fort Lauderdale, Florida, United States',
       'Schenectady, New York, United States',
       'Rowland Heights, California, United States',
       'Princeton, New Jersey, United States',
       'Fenton, Michigan, United States',
       'Centralia, Washington, United States', 'NewYork, Hong Kong',
       ' Beauty Maxima, United States, United States',
       'Nashua, New Hampshire, United States',
       'Union, New Jersey, United States',
       'Franklin Square, New York, United States',
       'Sterrett, Alabama, United States',
       'El Cajon, California, United States',
       'Romulus, Michigan, United States',
       'Bridgeview, Illinois, United States',
       'Lincoln Park, Michigan, United States',
       'Fourmile, Kentucky, United States',
       'Hicksville, New York, United States',
       'Virginia Beach, Virginia, United States',
       'New York,United States, Taiwan',
       'Sammamish, Washington, United States',
       'Princeton Junction, New Jersey, United States',
       'Phenix City, Alabama, United States',
       'Dayton,New Jersey,USA, Hong Kong',
       'McLean, Virginia, United States',
       'Memphis, Tennessee, United States',
       'Multiple Location, United States',
       'Jersey City, New Jersey, United States',
       'Sanborn, New York, United States',
       'Cabot, Arkansas, United States', 'Dover, Delaware, United States',
       'Debary, Florida, United States', 'United States, Hong Kong',
       'Fort Walton Beach, Florida, United States',
       'Jacksonville, Florida, United States',
       'North York, Ontario, Canada', 'United States',
       'Brownsboro, Texas, United States',
       'Jamaica, New York, United States',
       'Keyport, New Jersey, United States', 'Ottawa, Canada',
       'Texas, Hong Kong', 'Green Bay, Wisconsin, United States',
       'Columbia, South Carolina, United States',
       'Matawan, New Jersey, United States',
       'Maiden, North Carolina, United States',
       'Towson, Maryland, United States', 'United states, United States',
       'Monterey Park, California, United States',
       'Douglasville, Georgia, United States', 'Jerusalem, Israel',
       'Lakewood, California, United States', 'Elk, Poland',
       'WA, United States', 'Gonzales, Louisiana, United States',
       'Hong Kong, China', 'Montclair, California, United States',
       'Inkster, Michigan, United States',
       'Huntsville, Alabama, United States',
       'Valley Stream, New York, United States',
       'Long Beach, California, United States',
       'Middletown, Delaware, United States', 'New York, United States',
       '36784, United States', 'California,United States, Hong Kong',
       'Appleton, Wisconsin, United States',
       'United States,California, Taiwan',
       'Rockledge, Florida, United States',
       'Belleville, Michigan, United States',
       'Flemington, New Jersey, United States',
       'Orange City, Florida, United States', 'REGENTE FEIJO, Brazil',
       'Madera, California, United States',
       'West Harrison, Indiana, United States',
       'Grafton, Wisconsin, United States',
       'Wakefield, Massachusetts, Hong Kong',
       'Hamlet, North Carolina, United States', 'New Jersey, Hong Kong',
       'Wynnewood, Pennsylvania, United States',
       'Monroe Township, New Jersey, Hong Kong',
       'St. George, Utah, United States',
       'East Meadow, New York, United States',
       'California,USA, Hong Kong', 'Humacao, Puerto Rico, United States',
       'Huntington Station, New York, United States',
       'Saint Clair Shores, Michigan, United States',
       'Middle Grove, New York, United States',
       'Temple, Texas, United States',
       'Nine Mile Falls, Washington, United States',
       'Matosinhos, Portugal', 'Whittier, California, United States',
       'Plano, Texas, United States',
       'Pompano Beach, Florida, United States',
       'Shepherdsville, Kentucky, United States',
       'Irving, Texas, United States',
       'Orma, West Virginia, United States',
       'Pomona,California, Hong Kong', '20744, United States',
       'West Chester, Pennsylvania, United States', 'DELHI, DELHI, India',
       'Corona, California, United States',
       'Punta Gorda, Florida, United States',
       'Saint Petersburg, Florida, United States',
       'Arcadia, California, United States',
       'Roseville, California, United States',
       'Lynnwood, Washington, United States',
       'Ann Arbor, Michigan, United States',
       'Paterson, New Jersey, United States',
       'Battle Creek, Michigan, United States',
       'Edison, New Jersey, Hong Kong',
       'Boynton Beach, Florida, United States',
       'California,United States,HK, Hong Kong',
       'Port Orange, Florida, United States',
       'Ontario, California, United States',
       'Lynbrook, New York, United States',
       'Stony Brook, New York, United States',
       'Multiple Locations, United States',
       'Arlington Heights, Illinois, United States',
       'Astoria, New York, United States', 'Burlington, Ontario, Canada',
       'Selinsgrove, Pennsylvania, United States',
       'Canton, Michigan, United States', 'Argyle, Texas, United States',
       'Bellaire, Texas, United States', 'Manor, Texas, United States',
       'Chico, California, United States',
       'Orange, New Jersey, United States', 'USA, New Jersey, Hong Kong',
       'Little Ferry, New Jersey, United States',
       'Quinlan, Texas, United States',
       'Oklahoma City, Oklahoma, United States',
       'Melrose Park, Illinois, United States',
       'Stuyvesant Falls, New York, United States',
       'Portland, Oregon, United States',
       'South El Monte, California, United States',
       'United States, Canada', 'CA, China',
       'Round Rock, Texas, United States',
       'Tulsa, Oklahoma, United States',
       'Elizabeth, New Jersey, United States',
       'Buffalo Mills, Pennsylvania, United States',
       'El Monte, California, United States', 'Plano, United States',
       'Kennesaw, Georgia, United States',
       'Van Nuys, California, United States',
       'Richmond, Texas, United States',
       'Walled Lake, Michigan, United States',
       'New Jersey,United States, Hong Kong',
       'Lisle, Illinois, United States',
       'Durham, North Carolina, United States',
       'Bowling Green, Kentucky, United States',
       'Beverly Hills, California, United States',
       'Cranford, New Jersey, United States',
       'Sayreville, New Jersey, United States',
       'Flushing, New York, United States',
       'Mogadore, Ohio, United States',
       'Rocklin, California, United States',
       'Oxnard, California, United States',
       'Nashville, Tennessee, United States',
       'Elgin, Illinois, United States',
       'Bluff City, Tennessee, United States',
       'Clearwater, Florida, United States',
       'Wytheville, Virginia, United States',
       'Chicago, Illinois, United States',
       'Potomac, Maryland, United States',
       'Cayuga, New York, United States',
       'Villa Rica, Georgia, United States',
       'Okemos, Michigan, United States',
       'Sea Cliff, New York, United States', 'New York, USA, Hong Kong',
       'Alexandria, Minnesota, United States',
       'Long Island City, New York, United States',
       'Montgomery, Alabama, United States',
       'Tallman, New York, United States', 'CA.San Francisco, Hong Kong',
       ' SAN FRANCISCO, CA, USA, Hong Kong',
       'Piscataway, New Jersey, United States',
       'Troy, New York, United States',
       'Amigo, West Virginia, United States',
       'Giddings, Texas, United States',
       'California USA Hongkong, Hong Kong',
       'Laguna Niguel, California, United States',
       'Florence, South Carolina, United States',
       'Ashburnham, Massachusetts, United States',
       'Plainfield, Illinois, United States',
       'West Palm Beach, Florida, United States',
       'Woodruff, South Carolina, United States',
       'Katy, Texas, Hong Kong', 'Newark, Delaware, United States',
       'Syracuse, New York, United States',
       'Kew Gardens, New York, United States',
       'Jefferson, Texas, United States',
       'Joppa, Maryland, United States',
       'Bakersfield, California, United States',
       'Tarzana, California, United States',
       'Warminster, Pennsylvania, United States',
       'Linden, New Jersey, United States',
       'Kansas City, Missouri, United States', 'New York,USA, Taiwan',
       'California, United States', 'Rockville, Maryland, United States',
       'Camarillo, California, United States',
       'Novi, Michigan, United States',
       'Old Bethpage, New York, United States',
       'Los Angeles,California, United States',
       'Liberty, Texas, United States',
       'Arlington, Virginia, United States',
       'Columbus, Georgia, United States',
       'New York, United States, Hong Kong',
       'Glendale, California, United States', '89101, United States',
       'Fort Wayne, Indiana, United States',
       'Niagara Falls, New York, United States',
       'Hamptonville, North Carolina, United States',
       'Rowlett, Texas, United States',
       'Atlantic Beach, Florida, United States',
       'Townsend, Massachusetts, United States',
       'Oceanside, New York, United States',
       'Miles City, Montana, United States',
       'Layton, Utah, United States',
       'Saint Clair, Michigan, United States',
       'Congers, New York, United States',
       'Citrus Heights, California, United States',
       'McAdenville, North Carolina, United States',
       'Staten Island, New York, United States',
       'Boiling Springs, Pennsylvania, United States',
       'Maryville, Tennessee, United States',
       'Gobles, Michigan, United States',
       'Colorado Springs, Colorado, United States',
       'Frederick, Maryland, United States',
       'Branford, Connecticut, United States',
       'Huntsville, Texas, United States',
       'Elberton, Georgia, United States',
       'New Jersey,United Stated, Hong Kong',
       'Minneapolis, Minnesota, United States',
       'Chatsworth, California, United States',
       'Chantilly, Virginia, United States',
       'Somerset, Pennsylvania, United States',
       'Rock Rapids, Iowa, United States',
       'Henderson, Nevada, United States',
       'Louisville, Kentucky, United States',
       'East Brunswick, New Jersey, United States',
       'Pomona,California USA, Hong Kong', 'Payson, Utah, United States',
       'Pembroke, North Carolina, United States',
       'Anaheim, California, United States',
       'Forest Hills, New York, United States',
       'Sarasota, Florida, United States',
       'San Marcos, California, United States',
       'Point Pleasant Beach, New Jersey, United States',
       'Hauppauge, New York, United States',
       'Fountain Valley, California, United States',
       'Running Springs, California, United States',
       'Pawtucket, Rhode Island, United States',
       'Santa Ana, California, United States',
       'Manchester, New Hampshire, United States',
       'Kissimmee, Florida, United States',
       'Tucson, Arizona, United States',
       'Feasterville-Trevose, Pennsylvania, United States',
       'Takamatsu City, Japan', 'Saint Augustine, Florida, United States',
       'Weatherford, Texas, United States',
       'Redmond, Washington, United States',
       'La Porte, Indiana, United States',
       'Stanley, Wisconsin, United States', '44260, United States',
       'Mountain Top, Pennsylvania, United States',
       'Palm Desert, California, United States',
       'Addison, Illinois, United States',
       'New Hyde Park, New York, United States',
       'Sayreville, New Jersey, Pakistan',
       'West Hollywood, California, United States',
       'Temecula, California, United States', 'Sevlievo, Bulgaria',
       'Spring Valley, New York, United States',
       'Myrtle Beach, South Carolina, United States',
       'Eden Prairie, Minnesota, United States',
       'Carlton, Georgia, United States',
       'Irvine, California, United States',
       'Hemet, California, United States', 'Paige, Texas, United States',
       'Bainbridge Island, Washington, United States',
       'Sunnyside, New York, United States',
       'Lake Hiawatha, New Jersey, United States',
       'Lincoln, Nebraska, United States',
       'Denham Springs, Louisiana, United States',
       'Deer Park, New York, United States',
       'Houston,Texas,HongKong, China',
       'Pittsburgh, Pennsylvania, United States',
       'South Ozone Park, New York, United States',
       'Burlington, Iowa, United States',
       'Chino, California, United States',
       'Mount Holly, New Jersey, United States',
       'Lodi, California, United States',
       'Poway, California, United States'], dtype=object)

In [269]:
usa = "usa|united states|us|estados unidos|unitedstates"
hong_kong = "hong kong|hk|hongkong"
china = "china"
india = "india"
pakistan = "pakistan"
canada = "canada"
taiwan = "taiwan"
brazil = "brazil"
japan = "japan"
bulgaria = "bulgaria"

location_masks = [usa, hong_kong, china, india, pakistan, canada, taiwan, brazil, japan, bulgaria]

location_categories = [
    "USA",
    "HK",
    "China",
    "India",
    "Pakistan",
    "Canada",
    "Taiwan",
    "Brazil",
    "Japan",
    "Bulgaria"
]

location_conditions = [(perfumes['itemLocation'].str.lower().str.contains(condition, na=False)) for condition in location_masks]

zipped_locations = zip(location_categories, location_conditions)

In [270]:
for place, condition in zipped_locations:
    col_label = f'in_{place}'
    perfumes[col_label] = condition.map(lambda x: 1 if x == True else 0)

In [271]:
perfumes_clean = perfumes.drop(columns=['type', 'priceWithCurrency', 'itemLocation', 'availableText'])

In [272]:
perfumes_clean.isna().sum()

brand            0
title            0
price            0
available      239
sold            21
lastUpdated    126
forMen           0
unisex           0
forWomen         0
type_clean       0
in_USA           0
in_HK            0
in_China         0
in_India         0
in_Pakistan      0
in_Canada        0
in_Taiwan        0
in_Brazil        0
in_Japan         0
in_Bulgaria      0
dtype: int64

In [ ]:
perfumes_clean.fillna('Unknown', inplace=True)